# --- DATABASE CONFIG ---
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=3306

# --- REDIS CONFIG ---
REDIS_PORT=6379

# --- SPRING BOOT CONFIG ---
SPRING_LOCAL_PORT=8080

SPRING_DOC_ENABLE_API_DOC=true
SPRING_DOC_ENABLE_SWAGGER_UI=true

SPRING_SECURITY_SECURE_COOKIE=false
SPRING_SECURITY_JWT_SECRET=
SPRING_SECURITY_ACCESS_TOKEN_EXPIRATION=900000
SPRING_SECURITY_REFRESH_TOKEN_EXPIRATION=86400000
SPRING_SECURITY_HASH_IDS_SALT=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_DATABASE=mysql

# SPRING_SQL_INIT_MODE=always
# APP_SEED_DATA=true